@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
  html{
    font-size: "Inter", system-ui, sans-serif;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
